<div style="display: flex;border: 1px solid #eee;box-shadow: 1px 1px 1px 1px #eee;padding: 20px;">
  <div class="left" style="flex: 1;border-right: 1px solid #eee;">
    <h2>The matter that has both the properties of particles as well as waves is known as?</h2>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="response1" (change)="userResponseHandler($event)">
      <mat-radio-button value="0">particle duality</mat-radio-button> <br><br>
      <mat-radio-button value="1">wave theory</mat-radio-button> <br>
      <br>
      <mat-radio-button value="2">entanglement</mat-radio-button> <br><br>
      <mat-radio-button value="3">superposition</mat-radio-button> <br>
    </mat-radio-group>
    <br>

    <select (change)="conditionHandler($event)">
      <option>Select Condition</option>
      <option value="eq">Equal to</option>
      <option value="ne">Not equal</option>
    </select>

    <select (change)="optionHandler($event)" style="margin: 20px;">
      <option>Select option</option>
      <option value="0">Option 1</option>
      <option value="1">Option 2</option>
      <option value="2">Option 3</option>
      <option value="4">Option 4</option>
    </select>

    <br>
    <br>
    <button (click)="buildCondition()">Save</button>
  </div>
  <div class="right" style="flex: 1;margin-left: 20px;">
    <h3>Precondition</h3>
    <pre>
      <p>{{rule | json}}</p>
    </pre>
    <h3>Data</h3>
    <pre>
      <p>{{firstData | json}}</p>
    </pre>
    <h3>Validation</h3>
    <p style="font-size: 20px; font-weight: bold;">{{firstResult}}</p>
  </div>
</div>

<br><br><br>
<div style="display: flex;border: 1px solid #eee;box-shadow: 1px 1px 1px 1px #eee;padding: 20px;">
  <div class="left" style="flex: 1;border-right: 1px solid #eee;">
    <h2>Which of the following integers are multiples of both 2 and 3</h2>
    <mat-selection-list #response2 (selectionChange)="responseTwoHandler($event)">
      <mat-list-option [checkboxPosition]="before" [value]="0">8</mat-list-option>
      <mat-list-option [checkboxPosition]="before"  [value]="1">9</mat-list-option>
      <mat-list-option [checkboxPosition]="before" [value]="2">10</mat-list-option>
      <mat-list-option [checkboxPosition]="before" [value]="3">11</mat-list-option>
    </mat-selection-list>

    <select (change)="secondConditionHandler($event)">
      <option>Select Condition</option>
      <option value="eq">Equal to</option>
      <option value="ne">Not equal</option>
    </select>

    <mat-form-field style="margin-left: 20px;">
      <mat-label>Select options</mat-label>
      <mat-select multiple (selectionChange)="secondOptionHandler($event)">
        <mat-option [value]="0">Option 1</mat-option>
        <mat-option [value]="1">Option 2</mat-option>
        <mat-option [value]="2">Option 3</mat-option>
        <mat-option [value]="3">Option 4</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>
    <button (click)="buildSecondCondition()">Save</button>

    <br><br>
  </div>
  <div class="right" style="flex: 1;margin-left: 20px;">
    <h3>Precondition</h3>
    <pre>
      <p>{{secondRule | json}}</p>
    </pre>
    <h3>Data</h3>
    <pre>
      <p>{{secondData | json}}</p>
    </pre>
    <h3>Validation</h3>
    <p style="font-size: 20px; font-weight: bold;">{{secondResult}}</p>
  </div>
</div>

<br><br><br>
<div style="display: flex;border: 1px solid #eee;box-shadow: 1px 1px 1px 1px #eee;padding: 20px;">
  <div class="left" style="flex: 1;border-right: 1px solid #eee;">
    <h2>A charged particle in an electromagnetic field experience a force called</h2>
    <mat-selection-list #response2 (selectionChange)="responseThreeHandler($event)">
      <mat-list-option [checkboxPosition]="before" [value]="25">Gravitational force</mat-list-option>
      <mat-list-option [checkboxPosition]="before"  [value]="25">Lorentz force</mat-list-option>
      <mat-list-option [checkboxPosition]="before" [value]="25">Frictional force</mat-list-option>
      <mat-list-option [checkboxPosition]="before" [value]="25">Restoring force</mat-list-option>
    </mat-selection-list>
    <select (change)="thirdConditionHandler($event)">
      <option>Select Condition</option>
      <option value="gt">Score greater than</option>
      <option value="lt">Score less than</option>
    </select>

    <mat-form-field style="margin-left: 20px;">
      <mat-label>Select options</mat-label>
      <mat-select (selectionChange)="thirdOptionHandler($event)">
        <mat-option [value]="33">33</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="75">75</mat-option>
        <mat-option [value]="100">100</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>
    <button (click)="buildThirdCondition()">Save</button>
    <br><br>
  </div>
  <div class="right" style="flex: 1;margin-left: 20px;">
    <h3>Precondition</h3>
    <pre>
      <p>{{thirdRule | json}}</p>
    </pre>
    <h3>Data</h3>
    <pre>
      <p>{{thirdData | json}}</p>
    </pre>
    <h3>Validation</h3>
    <p style="font-size: 20px; font-weight: bold;">{{thirdResult}}</p>
  </div>
</div>
